#!/bin/bash

# shortcuts
alias k="kubectl"
alias g="git"

alias minikube_start="minikube start --vm-driver kvm2"

# We want pb on linux
command -v pbcopy > /dev/null || alias pbcopy='xclip -selection clipboard'
command -v pbpaste > /dev/null || alias pbpaste='xclip -selection clipboard -o'

alias shrug="echo '¯\\_(ツ)_/¯' | pbcopy"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color=auto"
elif command -v gls > /dev/null; then
  colorflag="--color=auto"
else # OS X `ls`
  colorflag="-G"
fi

# Always use color output for `ls`
# shellcheck disable=SC2139
alias ls="command ls ${colorflag}"

# enable color support
if [[ -x /usr/bin/dircolors ]]; then
  # shellcheck disable=SC2015
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
  alias dir='dir --color=auto'
  alias vdir='vdir --color=auto'
fi

# Always enable colored `grep` output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Get week number
alias week='date +%V'

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# OS X has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# copy file interactive
alias cp='cp -i'

# move file interactive
alias mv='mv -i'

command -v update-alternatives > /dev/null || alias vim='NVIM_TUI_ENABLE_TRUE_COLOR=1 nvim'

alias tmuxa="tmux new-session -A -s main"
