# TODO(jmodes): use environment variables instead
[alias]
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    stsh = stash --keep-index
    staash = stash --include-untracked
    staaash = stash --all
    pushf = push --force-with-lease
    recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
    root = rev-parse --show-toplevel
[commit]
    gpgsign = false
    verbose = true
[core]
    editor = vim
    excludesfile = ~/.gitignore
    autocrlf = input
[diff]
    # Detect copies as well as renames
    renames = copies
[hub]
    host = github.com
[push]
    default = simple
[rebase]
    # Sebase from a dirty worktree
    # git rebase --autostash
    autostash = true
[stash]
    # Use
    # git stash show --patch
    # instead of
    # git stash show --stat
    showPatch = true
[submodule]
    # Fetch submodules in n parallel threads
    fetchJobs = 4
[filter "spacify"]
    clean = expand --tabs=2 --initial
[user]
    name = Julian V. Modesto
    email = julianvmodesto@gmail.com
    signingkey = A635D3CDBB9AF852
# keybase pgp export -q A635D3CDBB9AF852 | gpg --import
# keybase pgp export -q A635D3CDBB9AF852 --secret | gpg --allow-secret-key-import --import
# git config --global user.signingkey A635D3CDBB9AF852
# git config --global commit.gpgsign true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
