[Unit]
Description=Notifications Daemon
Documentation=https://wiki.ubuntu.com/NotifyOSD
After=network.target docker.socket

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DISPLAY=:0.0
ExecStartPre=-docker rm -f notify_osd
ExecStart=docker run -d --restart always \
		  -v /etc \
		  -v /home/user/.dbus \
		  -v /home/user/.cache/dconf \
		  -v /etc/localtime:/etc/localtime:ro \
		  -v /tmp/.X11-unix:/tmp/.X11-unix \
		  -e DISPLAY=unix${DISPLAY} \
		  --name notify_osd \
		  julianvmodesto/notify-osd

[Install]
WantedBy=multi-user.target
